html {
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	/*background: url(../../images/home/31115.jpg) no-repeat;
	background-size: cover;
	animation: imgScale 1s infinite;*/
}

/* 图片遮罩 */
.mask {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
	background: url(../../images/home/31115.jpg) no-repeat;
	background-size: cover;
	animation: imgScale 36s infinite;
	z-index: 9;
}
.mask .mask-mode {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
	background-color: rgba(0,0,0,.7);
}
/* 背景图动画 */
@keyframes imgScale{
	0{
		transform: scale(1);
	}
	50%{
		transform: scale(1.5);
	}
	100%{
		transform: scale(1);
	}
}

/* 内容展示 */
.main {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 999;
}

/* 头部样式 */
header {
	height: 50px;
	line-height: 50px;
	padding-top: 25px;
	margin-bottom: 50px;
}
header .header {
	max-width: 1200px;
	margin: 0 auto;
}

/* logo */
.header .logo {
	float: left;
}
.header .logo h1 {
	font-size: 28px;
	text-shadow: 5px 5px 3px #000;
}
.logo h1 .logo-1 {
	color: aliceblue;
}
.logo h1 .logo-2 {
	color: #1296DB;
}
/* 网站导航 */
.nav {
	width: 300px;
	float: right;
}
.nav .nav-list li {
	padding: 5px 10px;
	text-align: center;
	float: left;
}
.nav-list li a {
	font-size: 14px;
	color: #F5F5F5;
}
/* 登录与注册 */
.user-login {
	padding: 5px 10px;
	float: right;
}
.user-login svg {
	font-size: 18px;
	color: #1296DB;
}
.user-login a {
	color: #5f9ea0;
}

/* 主体区域 */
.content {
	max-width: 1200px;
	max-height: 800px;
	min-height: 480px;
	position: relative;
	margin: 0 auto;
}
/* ---focus--- */
.content .focus div {
	width: 160px;
	height: 160px;
	position: absolute;
}
.content .focus .focus-1 {
	top: 0;
	left: 0;
	border-top: 1px solid rgba(255,255,255,.5);
	border-left: 1px solid rgba(255,255,255,.5);
}
.focus .focus-1:before, .focus .focus-2:before {
	content: "";
	display: block;
	width: 140px;
	margin-top: 10px;
	margin-left: 10px;
	height: 1px;
	background-color: rgba(255,255,255,.3);
}
.focus .focus-1:after {
	content: "";
	display: block;
	width: 1px;
	margin-left: 10px;
	height: 140px;
	background-color: rgba(255,255,255,.3);
}
.content .focus .focus-2 {
	top: 0;
	right: 0;
	border-top: 1px solid rgba(255,255,255,.5);
	border-right: 1px solid rgba(255,255,255,.5);
}
.focus .focus-2:after {
	content: "";
	display: block;
	width: 1px;
	margin-left: 150px;
	height: 140px;
	background-color: rgba(255,255,255,.3);
}
.content .focus .focus-3 {
	bottom: 0;
	left: 0;
	border-bottom: 1px solid rgba(255,255,255,.5);
	border-left: 1px solid rgba(255,255,255,.5);
}
.focus .focus-3:before {
	content: "";
	display: block;
	width: 1px;
	margin-top: 10px;
	margin-left: 10px;
	height: 140px;
	background-color: rgba(255,255,255,.3);
}
.focus .focus-3:after {
	content: "";
	display: block;
	width: 140px;
	margin-left: 10px;
	height: 1px;
	background-color: rgba(255,255,255,.3);
}
.content .focus .focus-4 {
	bottom: 0;
	right: 0;
	border-bottom: 1px solid rgba(255,255,255,.5);
	border-right: 1px solid rgba(255,255,255,.5);
}
.focus .focus-4:before {
	content: "";
	display: block;
	width: 1px;
	margin-top: 10px;
	margin-left: 150px;
	height: 140px;
	background-color: rgba(255,255,255,.3);
}
.focus .focus-4:after {
	content: "";
	display: block;
	width: 140px;
	margin-left: 10px;
	height: 1px;
	background-color: rgba(255,255,255,.3);
}
.content .core {
	padding: 75px 0 0 0;
	text-align: center;
	margin: 0 auto;
}
.core .core-text h2 {
	font-size: 36px;
	line-height: 60px;
	color: #fff;
	letter-spacing: 12px;
}
.core .core-text h4 {
	line-height: 28px;
	color: rgba(255,255,255,.7);
}
/*  -- line -- */
.core .core-line {
	width: 10px;
	height: 10px;
	position: relative;
	border-radius: 5px;
	background-color: #000;
	margin: 40px auto;
}
.core .core-line:before, .core .core-line:after {
	content: "";
	height: 1px;
	width: 150px;
	position: absolute;
	top: 5px;
	background-color: rgba(255,255,255,.5);
}
.core .core-line:before {
	left: -155px;
}
.core .core-line:after {
	left: 15px;
}
.core .core-link {
	width: 160px;
	margin: 0 auto;
}
.core .core-link a {
	display: block;
	border: 1px solid #fff;
	width: 160px;
	line-height: 40px;
	height: 40px;
	margin-bottom: 20px;
	color: rgba(255,255,255,.7);
	cursor: pointer;
}
