<div id="modal">
	<div class="login">
		<p class="login-title">欢迎登录</p>
		<p>
			<label for="users" class="login-users text" ></label>
			<input id="users" name="users" type="text" placeholder="请输入用户名..." />
		</p>
		<p>
			<label for="pad" class="login-pad text" ></label>
			<input id="pad" name="pad" type="password" placeholder="请输入密码..." />
		</p>
		<p>
			<button type="button" id="login-but" disabled>登 录</button><button type="button">取 消</button>
			<span class="register"><a href="#">忘记密码？</a>/<a href="#">注册</a></span>
		</p>
	</div>
</div>