<!-- 导航栏 -->
<header>
	<div class="header clear">
		<div class="logo">
			<a href="/front/index">
				<h1><span class="logo-1">My</span><span class="logo-2">Bolg</span></h1>
			</a>
		</div>
		<div class="user-login">
			<a href id="login">登录</a>
			<a href id="register">注册</a>
		</div>
		<div class="nav">
			<ul class="nav-list">
				<li><a href="/front/index" id="index">我的主页</a></li>
				<li><a href="#">Web前端</a></li>
				<li><a href="#">UI设计</a></li>
				<li><a href="#">关于我</a></li>
			</ul>
		</div>
	</div>
</header>
